{% extends "base.html" %}

{% block content %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('https://a3background.s3.amazonaws.com/99.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<center><div class="content-section" style="position:relative;top:50px;" >
    <h1>Hello, {{ current_user.username }}!</h1>

    <div style="position:relative;top:50px;">
    <h5>Upload Your New Photo</h5>
         <form method="POST" action="" enctype="multipart/form-data">
             {{ form1.hidden_tag() }}
             <img id="blah" alt=""  />
             <p><input type="file" name="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"></p>

         <p style="position:relative;top:50px;"><input type="submit" value="Next"></p>
         </form>
    </div>

        </div></center>
{% endblock content %}